// colors

$color-1: #4089a6; // Steel Blue
$color-2: #283040; // Ebony Clay
$color-3: #048507; // Green
$color-4: #ffffff; // White

// fonts 

$primary-font: 'Open Sans', sans-serif;;


//font size
$font-size-1: 1rem;
